*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Hader and Navigation Style */
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 15px;
    background: #FD6E0A;
}
.btn-con {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 15px;
    background: #FD6E0A;
    
}
.na {
    font-weight: 700;
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-titel {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
/* Background Color  */
.herder {
background: #FFF8F3;
background-image: url(../images/header_bg.png), url(../images/developer.png);
background-repeat: no-repeat;
background-position: bottom right, left;
}

/* Banner Style  */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}
.banner-titel {
    font-weight: 700;
    font-size: 85px;
}
.banner-subtitel {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-d {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* Image  */

.image {
width: 830px;
position: relative;
left: 200px;

}

/* Main Section  */

main {
    max-width: 1140px;
    margin: 0 auto;
}
/* About Section Style  */
.about {
margin-top: 130px;
background: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
text-align: center;
}
.section-t {
text-align: center;
font-weight: 700;
font-size: 35px;
margin-bottom: 50px;

}
.section-d {
color: #757575;
font-size: 25px;
margin-bottom: 30px;
}

.about-info-cintainer {
    display: flex;
    justify-content: space-around;
}
.about .info-titel {
    font-size: 20px;
    color: #757575;
}
.info-description {
    font-size: 20px;
    color: #474747;
}

/* What I DO Style  */
.section-titel {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;  
}
.what-i-do {
    margin-top: 130px;
}
.skills-container {
    display: flex;
    gap: 24px;
}
.skills {
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 30px;

}
.skill-titel {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
margin-bottom: 20px;
}
.skill-description {
   color: #757575; 
}

/* Resume Section  */
.Resume Section {
    margin-top: 130px;
}
/* Resume Style  */
.resume-contant{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-item .titel{
font-weight: 700;
font-size: 25px;
color: #474747;
margin-bottom: 10px;
}
.resume-item .sub-titel{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume-item .description{
color: #757575;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* Contuct Styles  */
.contuct{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
}
.contuct .section-t{
text-align: left;
}
.contuct input[type="text"], input[type="email"], textarea{
margin-bottom: 24px;
border: 0;
width: 100%;
padding: 18px 30px;
}
input{
    height: 64px;
}
.contuct a{
    text-decoration: none;
}